@import 'colours';

pre.diff {
  color: var(--text);
}

.diff-add-line::before, .diff-remove-line::before, .diff-context::before {
  display: inline-block;
  color: var(--text-muted);
  -webkit-user-select: none;
}

.diff-file-header {
  font-weight: bold;
}

.diff-file-header > span > span {
  font-weight: normal;
}

.diff-add-line {
  background: var(--diff-add);
  display: block;

  &::before {
    content: '+ ';
  }
}

.diff-remove-line {
  background: var(--diff-remove);
  display: block;

  &::before {
    content: '- ';
  }
}

.diff-context {
  &::before {
    content: '  ';
  }
}
